/* * {
  box-sizing: border-box;
  border: 0;
  margin: 0;
} */

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 50px;
  padding: 1rem;
}

.nav-item {
  padding-right: 350px;
  text-align: right;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 4px;
  margin: 10px;
  margin-left: 5rem;
  font-size: 1.5em;
}

.res-card {
  width: 15em;
  /* height: 29em; */
  margin: 4px;
  padding: 4px;
  max-width: auto;
  word-wrap: break-word;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.search {
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 0.5rem;
  cursor: pointer;
}

.Loading {
  height: 800px;
  position: relative;
  background: white;
}

.Loading > img {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.