.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 50px;
}

.nav-item {
  padding-right: 500px;
  text-align: right;
}

.nav-item > ul {
  display: flex;
  list-style-type: none;
}

.nav-item > ul > li {
  padding: 4px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 350px;
  margin: 5px;
  padding: 5px;
 

}

 .res-card:hover {
   border: 1px solid black;
   cursor: pointer;
 }

.res-logo {
  width: 100%
}

.search {
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;}
  
 
